<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>MPBlog</title>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/45ffc1acae.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/png">
    <style>
        html {
            position: relative;
            min-height: 100%;
            background-color: #cfe0e8;
        }

        body {
            margin: 0 0 100px;
            padding-bottom: 50px;
        }

        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100px;
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>

<nav aria-label="main navigation" class="navbar mb-4" role="navigation" th:fragment="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <img alt="Logo" th:src="@{/images/logo.png}">
        </a>
        <a aria-expanded="false" aria-label="menu" class="navbar-burger title" data-target="navbar" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbar">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/newEntry}" th:if="${sessionUser?.adminRights}">
                <span class="icon">
                    <i class="fas fa-blog"></i>
                </span>
                <span> New</span>
            </a>
            <a class="navbar-item" th:href="@{/listEntries}">
                <span class="icon">
                    <i class="fas fa-glasses"></i>
                </span>
                <span> Blog</span>
            </a>
            <a class="navbar-item" th:href="@{/listUser}">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span> Users</span>
            </a>
        </div>
        <div class="navbar-end">
            <div class="buttons">
                <a class="button is-warning navbar-item" th:href="@{/newUser}"
                   th:if="${sessionUser == null || sessionUser == ''}">
                    <strong>
                        <span class="icon is-small">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span> Register</span>
                    </strong>
                </a>
                <a class="button is-success navbar-item" th:href="@{/login}"
                   th:if="${sessionUser == null || sessionUser == ''}">
                    <strong>
                        <span class="icon">
                            <i class="fas fa-arrow-right-to-bracket"></i>
                        </span>
                        <span> LogIn</span>
                    </strong>
                </a>
                <a class="button is-primary navbar-item" th:href="@{/showUser}"
                   th:if="${sessionUser != null && sessionUser != ''}">
                    <strong>
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span> Profile</span>
                    </strong>
                </a>
                <a class="button is-danger navbar-item" th:href="@{/logout}"
                   th:if="${sessionUser != null && sessionUser != ''}">
                    <strong>
                        <span class="icon">
                            <i class="fas fa-arrow-right-from-bracket"></i>
                        </span>
                        <span> Logout</span>
                    </strong>
                </a>
            </div>
        </div>
    </div>
</nav>

<footer class="footer p-5" th:fragment="footer">
    <div class="content has-text-centered">
        <p>
            <span class="icon">
                <i class="fas fa-hand-holding-heart"></i>
            </span>
            <span>
                <strong> MP-BLOG</strong>
            </span>
        </p>
        <p>
            by <a href="https://github.com/philippbomers">Philipp Bomers</a>
            and <a href="https://github.com/mkatran">Mehmet Katran</a>.
        </p>
    </div>
</footer>