<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<h3 class="title">Entries ordered by date</h3>
<div class="section">
    <div class="columns is-centered">
        <div class="column is-narrow">
            <table class="table">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Content
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Created by
                    </th>
                    <th>
                        Other
                    </th>
                </tr>
                <tr th:each="entry:${entries}">
                    <td th:text="*{entry.title}"></td>
                    <td th:text="*{entry.content}"></td>
                    <td th:text="*{entry.realDate}"></td>
                    <td th:text="*{entry.username}"></td>
                    <td>
                        <a th:href="@{/{id}/showentry(id=${entry.id})}">Show Details</a><br>
                        <span th:if="${sessionUser != null}">
                <a th:href="@{/{id}/deleteEntry(id=${entry.id})}"
                   th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">Delete</a>
            </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>