<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>


<div class="card modal-card ">
    <h1 class="title">Users</h1>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Administrator Rights
            </th>
        </tr>
        <tr th:each="mpBlogUser:${mpBlogUsers}">
            <td th:text="*{mpBlogUser.userName}"></td>
            <td>
                <p th:switch="*{mpBlogUser.adminRights}">
                    <span class="mr-2" th:case="true">Yes</span>
                    <span class="mr-2" th:case="false">No</span>

                <span th:if="${sessionUser != null && sessionUser != ''}">
                    <a th:href="@{/switchAdminRights/{id}/listUser(id=*{mpBlogUser.id})}"
                       th:if="${sessionUser?.adminRights && mpBlogUser != sessionUser}">
                            <span class="button is-danger is-small" th:if="*{mpBlogUser.adminRights}">
                                <span class="icon is-small">
                            <i class="fa-solid fa-arrow-down"></i>
                        </span>
                            </span>
                        <span class="button is-success is-small" th:if="*{!mpBlogUser.adminRights}">
                                <span class="icon is-small">
                            <i class="fa-solid fa-arrow-up"></i>
                        </span>
                            </span>
                    </a>
                </span>
                </p>
            </td>
        </tr>
    </table>
</div>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>