<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>

<div class="header card modal-card p-4">
    <h1 class="title">Welcome
        <span th:if="${sessionUser != null && sessionUser != ''}">
        <span th:text="${sessionUser.userName}"></span>
    </span>
        <span th:if="${sessionUser == null || sessionUser == ''}">
        Stranger
    </span>
    </h1>
</div>

<div class="tile is-ancestor ml-6 mr-6 is-flex-grow-4 has-text-left mt-4">
    <div class="tile is-vertical is-parent">
        <div class="has-text-right mb-3" th:if="${sessionUser?.adminRights}">
            <a class="button has-background-info has-text-white" th:href="@{/newEntry}">
        <span class="icon is-small">
            <i class="fas fa-blog"></i>
        </span>
                <span>Create</span>
            </a>
        </div>
        <div class="is-child box" th:each="entry:${entries}">
            <article class="tile is-child">
                <div class="columns is-centered">
                    <div class="column is-narrow is-6 is-5-desktop">
                        <img alt="Blog Post Image" th:src="@{/images/blogpost/{filename}(filename=*{entry.picture})}">
                    </div>
                </div>
                <div class="has-text-right" th:if="${sessionUser != null && sessionUser != ''}">
                    <a class="button is-link is-light"
                       th:href="@{/{id}/updatePicture(id=*{entry.id})}"
                       th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                            <span class="icon is-small">
                                <i class="fas fa-images"></i>
                            </span>
                        <span class="is-hidden-mobile">Edit Image</span>
                    </a>
                </div>
                <p class="title" th:text="*{entry.title}"></p>
                <p class="subtitle">
                    <span th:text="*{entry.username}"></span>,&nbsp;
                    <span th:text="*{entry.realDate}"></span>
                </p>
                <p class="card-content" th:text="*{shortEntries.get(entry.id)}"></p>
                <p class="has-text-right has-text-centered-mobile">
                    <a class="button is-primary" th:href="@{/{id}/showEntry(id=*{entry.id})}">
                        <span class="icon is-small">
                            <i class="fas fa-info"></i>
                        </span>
                        <span class="is-hidden-mobile">More</span>
                    </a>
                    <span th:if="${sessionUser != null && sessionUser != ''}">
                        <a class="button is-warning"
                           th:href="@{/{id}/updateEntry(id=*{entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                                <span class="icon is-small">
                                    <i class="fas fa-pen"></i>
                                </span>
                                <span class="is-hidden-mobile">Edit</span>
                        </a>
                        <a class="button is-danger"
                           th:href="@{/{id}/deleteEntry(id=*{entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="is-hidden-mobile">Delete</span>
                        </a>
                    </span>
                </p>
            </article>
        </div>
    </div>
</div>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>