<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>

<h1 class="title">Welcome
    <span th:if="${sessionUser != null && sessionUser != ''}">
        <span th:text="${sessionUser.userName}"></span>
    </span>
    <span th:if="${sessionUser == null || sessionUser == ''}">
        Stranger
    </span>
</h1>

<div class="has-text-right mr-6" th:if="${sessionUser?.adminRights}">
    <a class="button has-background-info has-text-white" th:href="@{/newEntry}">New Entry</a>
</div>
<div class="tile is-ancestor ml-6 mr-6 is-flex-grow-4 has-text-left mt-4">
    <div class="tile is-vertical is-parent">
        <div class="is-child box" th:each="entry:${entries}">
            <article class="tile is-child">
                <div class="columns is-centered">
                    <div class="column is-narrow is-6 is-5-desktop">
                        <img alt="Blog Post Image" th:src="@{/images/blogpost/{filename}(filename=*{entry.picture})}">
                    </div>
                </div>
                <div class="has-text-right" th:if="${sessionUser != null && sessionUser != ''}">
                    <a class="button is-light"
                       th:href="@{/{id}/updatepicture(id=*{entry.id})}"
                       th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                        Edit Picture
                    </a>
                </div>
                <p class="title" th:text="*{entry.title}"></p>
                <p class="subtitle">
                    <span th:text="*{entry.username}"></span>,&nbsp;
                    <span th:text="*{entry.realDate}"></span>
                </p>
                <p class="card-content" th:text="*{shortEntries.get(entry.id)}"></p>
                <p class="has-text-right">
                    <a class="button is-primary" th:href="@{/{id}/showentry(id=*{entry.id})}">
                        Show more
                    </a>
                    <span th:if="${sessionUser != null && sessionUser != ''}">
                        <a class="button is-warning"
                           th:href="@{/{id}/updateEntry(id=*{entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                                Edit Entry
                        </a>
                        <a class="button is-danger"
                           th:href="@{/{id}/deleteEntry(id=*{entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                            Delete
                        </a>
                    </span>
                </p>
            </article>
        </div>
    </div>
</div>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>