<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<h1 class="title">Welcome
    <span th:if="${sessionUser != null}">
        <span th:text="${sessionUser.userName}"></span>
    </span>
    <span th:if="${sessionUser == null}">
        Hello Stranger
    </span>

</h1>
<div class="tile is-ancestor ml-6 mr-6 is-flex-grow-4">
    <div class="tile is-vertical is-parent">
        <div class="is-child box" th:each="entry:${entries}">
            <article class="tile is-child">
                <p class="title" th:text="*{entry.title}"></p>
                <p class="card-header-title">
                    <span th:text="*{entry.username}"></span>:&nbsp;
                    <span th:text="*{entry.realDate}"></span>
                </p>
                <p class="card-content" th:text="*{entry.content}"></p>
                <p>
                    <a th:href="@{/{id}/showentry(id=*{entry.id})}" class="button is-primary">
                        Show Details
                    </a>
                    <span th:if="${sessionUser != null}">
                        <a th:href="@{/{id}/editEntry(id=*{entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}"
                           class="button is-warning">
                                Edit Entry
                        </a>
                        <a th:href="@{/{id}/deleteEntry(id=*{entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}"
                           class="button is-danger">
                            Delete
                        </a>
                    </span>
                </p>
            </article>
        </div>
    </div>
</div>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>