<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>

<div th:if="${sessionUser != null && sessionUser != ''}">
    <div class="container">
        <h3 class="title">Entry Edit</h3>
        <form method="post" th:action="@{/{id}/updateEntry(id=*{id})}" th:object="${entry}">
            <div class="field">
                <label class="label" for="title">
                    Edit title:
                </label>
                <input class="input" id="title" th:field="*{title}"></input>
                <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p><br>
            </div>
            <div class="field" style="height: 60vh">
                <label class="label" for="inputarea">
                    Edit Entry:
                </label>
                <textarea class="textarea" id="inputarea" style="height: 90%" th:field="*{content}"></textarea>
                <p th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></p>
                <div class="field has-text-right mt-2">
                    <button class="button is-link" type="submit">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:if="${sessionUser == null || sessionUser == ''}">
    Please Login to edit entry!
</div>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>