<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<div th:insert="standarditems :: navbar"></div>
<h3 class="title">Users</h3>
<div class="table-container">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Administrator Rights
            </th>
        </tr>
        <tr th:each="mpBlogUser:${mpBlogUsers}">
            <td th:text="*{mpBlogUser.userName}"></td>
            <td>
                <p th:switch="*{mpBlogUser.adminRights}">
                    <span th:case="true">Yes</span>
                    <span th:case="false">No</span>
                </p>
                <a th:href="@{/switchAdminRights/{id}/bloguserlist(id=*{mpBlogUser.id})}" th:if="${sessionUser?.adminRights}"> Switch</a>
            </td>
        </tr>
    </table>
</div>
<div th:insert="standarditems :: footer"></div>
</body>
</html>