<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>User List</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link rel="icon" th:src="@{images/logo.png}" type="image/x-icon">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h3 class="title">Users</h3>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Administrator Rights
        </th>
    </tr>
    <tr th:each="mpBlogUser:${mpBlogUsers}">
        <td th:text="*{mpBlogUser.userName}"></td>
        <td>
            <p th:switch="*{mpBlogUser.adminRights}">
                <span th:case="true">Yes</span>
                <span th:case="false">No</span>
            </p>
            <a th:href="@{/switchAdminRights/{id}/bloguserlist(id=*{mpBlogUser.id})}"> Switch</a>
        </td>
    </tr>
</table>
</body>
</html>