<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<h1 class="title">MP Blog Homepage</h1>
<p th:if="${sessionUser != null}">
    Welcome <span th:text="${sessionUser.userName}"></span>
</p>
<p th:if="${sessionUser == null}">
    Welcome stranger!<br>
    Please login or sign up to discover the endless beautiful world of MPBlog!
</p>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>