<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link rel="icon" th:src="@{images/logo.png}" type="image/x-icon">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h1>Login</h1>
<form th:action="@{/login}" th:object="${login}" method="post">
    Username: <input type="text" th:field="*{userName}"><br/>
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
    Passwort: <input type="password" th:field="*{password}"><br/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button type="submit">Login</button>
</form>
</body>
</html>