<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link rel="icon" th:src="@{images/logo.png}" type="image/x-icon">
</head>
<body class="is-centered has-text-centered">
<div th:insert="standarditems :: navbar"></div>
<h1>Login</h1>
<form method="post" th:action="@{/login}" th:object="${login}">
    <label for="username">
        Username:
    </label>
    <input th:field="*{userName}" type="text" id="username"><br/>
    <p th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></p>
    <label for="password">
        Passwort:
    </label>
    <input th:field="*{password}" type="password" id="password"><br/>
    <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
    <button type="submit">Login</button>
</form>
<div th:insert="standarditems :: footer"></div>
</body>
</html>