<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<div th:insert="standarditems :: navbar"></div>
<h3>Register a new user:</h3>
<form action="#" method="post" th:action="@{/registerdialog}" th:object="${mpBlogUser}">
    <p>Username: <label>
        <input th:field="*{userName}" type="text"/>
    </label></p>
    <p th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></p>
    <p>Password: <label>
        <input th:field="*{password}" type="text"/>
    </label></p>
    <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
    <p><input type="submit" value="Send"/> <input type="reset" value="Reset"/></p>
</form>
<div th:insert="standarditems :: footer"></div>
</body>
</html>