<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPBlog Entries</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<h3 class="title">Entries ordered by date</h3>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Date
        </th>
        <th>
            Created by
        </th>
        <th>
            Comments
        </th>
    </tr>
    <tr th:each="entry:${entries}">
        <td th:text="*{entry.title}"></td>
        <td th:text="*{entry.content}"></td>
        <td th:text="*{entry.realDate}"></td>
        <td th:text="*{entry.username}"></td>
        <td th:each="comment:*{entry.mpBlogComments}">
            <p th:text="*{comment.id}"></p>
        </td>
    </tr>
</table>
</body>
</html>