<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>MPBlog Entries</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link rel="icon" th:src="@{images/logo.png}" type="image/x-icon">
</head>
<body class="is-centered has-text-centered">
<div th:insert="standarditems :: navbar"></div>
<h3 class="title">Entries ordered by date</h3>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Date
        </th>
        <th>
            Created by
        </th>
        <th>
            Other
        </th>
    </tr>
    <tr th:each="entry:${entries}">
        <td th:text="*{entry.title}"></td>
        <td th:text="*{entry.content}"></td>
        <td th:text="*{entry.realDate}"></td>
        <td th:text="*{entry.username}"></td>
        <td>
            <a th:href="@{/{id}/entrydetails(id=${entry.id})}">Show Details</a><br>
            <span th:if="${sessionUser != null}">
                <a th:href="@{/{id}/deleteEntry(id=${entry.id})}" th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">Delete</a>
            </span>
        </td>
    </tr>
</table>
<div th:insert="standarditems :: footer"></div>
</body>
</html>