<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>

<h1 class="title">
    Our Blogpost
</h1>
<div class="tile is-ancestor ml-6 mr-6 is-flex-grow-4 has-text-left">
    <div class="tile is-vertical is-parent">
        <div class="is-child box">
            <article class="tile is-child">
                <div class="columns is-centered">
                    <div class="column is-narrow is-6 is-5-desktop">
                        <img alt="Blog Post Image" th:src="@{/images/blogpost/{filename}(filename=${entry.picture})}">
                    </div>
                </div>
                <div class="has-text-right" th:if="${sessionUser != null && sessionUser != ''}">
                    <a class="button is-light"
                       th:href="@{/{id}/updatePicture(id=${entry.id})}"
                       th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                        Edit Picture
                    </a>
                </div>
                <p class="title" th:text="${entry.title}"></p>
                <p class="subtitle">
                    <span th:text="${entry.username}"></span>,&nbsp;
                    <span th:text="${entry.realDate}"></span>
                </p>
                <p class="card-content" style="white-space: pre-line" th:text="${entry.content}"></p>
                <p class="has-text-right">
                    <span th:if="${sessionUser != null && sessionUser != ''}">
                        <a class="button is-warning"
                           th:href="@{/{id}/updateEntry(id=${entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                                Edit Entry
                        </a>
                        <a class="button is-danger"
                           th:href="@{/{id}/deleteEntry(id=${entry.id})}"
                           th:if="${sessionUser == entry.mpBlogUser or sessionUser.adminRights}">
                            Delete
                        </a>
                    </span>
                </p>
            </article>
        </div>
    </div>
</div>

<h1 class="title mt-5">Comments</h1>
<div class="tile is-ancestor ml-6 mr-6 is-flex-grow-4 has-text-left">
    <div class="tile is-vertical is-parent">
        <div class="is-child box" th:each="comment:${entry.mpBlogComments}">
            <article class="tile is-child">
                <p class="subtitle">
                    <span th:text="*{comment.mpBlogUser.userName}"></span>,
                    <span th:text="*{comment.realDate}"></span>
                </p>
                <p class="card-content" th:text="*{comment.userComment}"></p>
                <div class="has-text-right" th:if="${sessionUser != null && sessionUser != ''}">
                    <a class="button is-danger" th:href="@{/{id}/deleteComment(id=*{comment.id})}"
                       th:if="${sessionUser == comment.mpBlogUser or sessionUser.adminRights}">
                        Delete Comment
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>
<a class="button is-primary" th:href="@{/{id}/newComment(id=${entry.id})}" th:if="${sessionUser != null}">
    New Comment
</a>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>