<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<h1 class="title">User Details</h1>
<p>
    Username: <span th:text="${sessionUser.userName}"></span>
</p>
<p>
    Entries: <span th:text="${numberOfEntries}"></span>
</p>
<p>
    Comments: <span th:text="${numberOfComments}"></span>
</p>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>