<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<div th:if="${sessionUser != null}">
    <div class="container">
        <h3 class="title">Comment Form</h3>
        <form method="post" th:action="@{/{id}/newcomment(id=${entryId})}" th:object="${comment}">
            <div class="field">
                <label for="inputarea" class="label">
                    Insert your Comment:
                </label>
                <textarea id="inputarea" th:field="*{userComment}" class="textarea is-small"></textarea>
                <p th:errors="*{userComment}" th:if="${#fields.hasErrors('userComment')}"></p>
            </div>
            <div class="field">
                <button type="submit" class="button is-link">Send</button>
            </div>
        </form>
    </div>
</div>

<div th:if="${sessionUser == null}">
    Please Login to add a new comment!
</div>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>