<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<div th:if="${sessionUser != null && sessionUser != ''}">
    <div class="container">
        <h1 class="title">New Entry</h1>
        <form method="post" th:action="@{/newEntry}" th:object="${entry}">
            <div class="field">
                <label class="label" for="title">
                    Insert title:
                </label>
                <input class="input" id="title" th:field="*{title}" type="text">
                <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
            </div>
            <div class="field" style="height: 60vh">
                <label class="label" for="inputarea">
                    Insert your Entry:
                </label>
                <textarea class="textarea" id="inputarea" style="height: 90%" th:field="*{content}"></textarea>
                <p th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></p>
                <div class="field has-text-right mt-2">
                    <button class="button is-link" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:if="${sessionUser == null || sessionUser == ''}">
    <h1 class="title">Stop!</h1>
    <p>
        Please Login to add a new entry!
    </p>
</div>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>