<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<div th:if="${sessionUser != null}">
    <div class="container">
        <h3 class="title">New Entry</h3>
        <form method="post" th:action="@{/newEntry}" th:object="${entry}">
            <div class="field">
                <label for="title" class="label">
                    Insert title:
                </label>
                <input id="title" th:field="*{title}" type="text" class="input">
                <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
            </div>
            <div class="field">
            <label for="inputarea" class="label">
                Insert your Entry:
            </label>
            <textarea id="inputarea" th:field="*{content}" class="textarea"></textarea>
            <p th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></p>
            </div>
            <div class="field">
                <button type="submit" class="button is-link">Send</button>
            </div>
        </form>
    </div>
</div>

<div th:if="${sessionUser == null}">
    Please Login to add a new entry!
</div>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>