<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standarditems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standarditems :: navbar"></nav>

<div class="container">
    <h1 class="title">Register a new user:</h1>
    <form action="#" method="post" th:action="@{/newuser}" th:object="${mpBlogUser}">
        <div class="field">
            <label for="username">Username: </label>
            <input class="input" id="username" th:field="*{userName}" type="text">
            <p th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></p>
        </div>
        <div class="field">
            <label for="password">Password: </label>
            <input class="input" id="password" th:field="*{password}" type="text">
            <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
        </div>
        <div class="field">
            <button class="button is-link" type="submit"> Send</button>
        </div>
    </form>
</div>

<footer th:insert="design/standarditems :: footer"></footer>
</body>
</html>