<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>

<div class="columns is-centered">
    <div class="column is-3">
        <h1 class="title">Register a new user</h1>
        <form action="#" method="post" th:action="@{/newUser}" th:object="${mpBlogUser}" class="box">
            <div class="field">
                <label class="label" for="username">Username </label>
                <input class="input" id="username" th:field="*{userName}" type="text">
                <p class="has-text-danger" th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></p>
            </div>
            <div class="field">
                <label class="label" for="password">Password </label>
                <input class="input" id="password" th:field="*{password}" type="password">
                <p class="has-text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
            </div>
            <div class="field">
                <button class="button is-link" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>