<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="design/standardItems :: htmlhead"></head>
<body class="is-centered has-text-centered">
<nav th:insert="design/standardItems :: navbar"></nav>

<div class="card modal-card">
    <h1 class="title">Success</h1>
    <p class="has-text-success">
    <span class="icon">
        <i class="fas fa-circle-check"></i>
    </span>
        <span> You successfully registered the new User. You now can log in.</span>
    </p>
</div>

<footer th:insert="design/standardItems :: footer"></footer>
</body>
</html>